[2017-09-17 12:53] yochannah opened #1 "Create Logo"
All ideas welcome, including sketches that can be converted into a nicer design later

[2017-09-17 16:39] yochannah opened #2 "Curate list of journals where papers are accompanied by code link/licence"
start reviewing journals that accept software papers and check the following things (need to consider exact metrics, but here's a start):

- are articles accompanied by code?
  - no code
  - code often found in freeform format so may be hard to tell without careful review, e.g.:
    - source link may be available in text or references
    - attached file in supplementary materials (does this ever

[2017-09-17 18:30] yochannah opened #3 "consider applying for OSI Affiliate Membership"
need to read through their criteria to confirm it's possible. see https://opensource.org/affiliates/about

[2017-09-17 18:40] yochannah commented on #2
also consider best format. might be best to go for something simple like a google sheet?

[2017-09-17 19:04] yochannah opened #4 "Create website"
- specifically referring to the informational component (not the user-editable db component
- gh-pages hosted
- may not be necessary pre mozfest, but would be nice

[2017-09-25 20:04] yochannah opened #5 "Create cumulative user-editable db"
This will allow contributors to add / update reviews for the various journals

[2017-10-01 12:10] yochannah commented on #1
I had an epiphany. What about a vector test tube or beaker with code bubbling out of it?

[2017-10-01 12:38] yochannah commented on #1
Requirements:
- Must be a **vector** graphic. Design in any package you want, but ensure to provide exports in the following formats:
  - SVG
  - PNG
- Bonus points:
  - With "code is science" text
  - without "code is science" text
  - multiple sizes
  - multiple shapes - e.g. long thin landscape rectangle, square for icons, etc.

*If you're interested in this task, I'd suggest discussing your id

[2017-10-01 12:50] yochannah opened #6 "add CoC"

[2017-10-01 12:50] #6 closed, assigned to nobody

[2017-10-01 20:18] yochannah commented on #2
Longer term, I want a nicely service with an API, a UI, and user-specific tokens, but I'd rather get a good idea of the shape of a db record first.

For now, here's the google sheet: https://docs.google.com/spreadsheets/d/1oY5ak7VJa-qwJJeWA3829S-1akZaYtHuWPYpChBdW2o/edit#gid=1946180293 - Anyone with the link can edit; hopefully it won't get spammy and require lockdown

[2017-10-01 20:20] yochannah commented on #2
How you can contribute:
- add more journals to the list (unreviewed or reviewed)
- review journals from the list by stating whether or not they require code for code-related papers.

[2017-10-01 21:07] yochannah commented on #4
http://www.codeisscience.com

[2017-10-01 21:07] #4 closed, assigned to nobody

[2017-10-02 20:17] yochannah commented on #1
All suitable designs will become stickers & be sent to contributors for free. Yay, stickers!

[2017-10-02 20:27] yochannah commented on #5
Loose specs:
- Needs to be an open source DB.
- I'm not sure of the schema yet and it *will* have columns added to it over time. Does this mean a document store might be a good idea? Open to anything really. Current columns are very minimal: https://docs.google.com/spreadsheets/d/1oY5ak7VJa-qwJJeWA3829S-1akZaYtHuWPYpChBdW2o/edit?usp=drive_web
- Somewhere free to host it would be nice but not manda

[2017-10-02 20:45] yochannah opened #7 "DB should be accessible via API"
Probably depends on the db task https://github.com/yochannah/code-is-science/issues/5

Ideally swagger: https://swagger.io/

methods required include:

- get all journal lists
- get all open/closed (filter!)
- get just one journal by id
- above will need sort params
- create journal entry
- update journal entry

- create new user (register)
- probably some sort of auth token?

We'll need a search

[2017-10-02 20:49] yochannah opened #8 "Create search facility for journal db"
This task depends on #5 and possibly #7 as well.

Search for journals by name. Other? Ideally with only open-source infrastructure. Ideally needs to fit on a small digital ocean droplet or be hosted on a free service.

See https://docs.google.com/spreadsheets/d/1oY5ak7VJa-qwJJeWA3829S-1akZaYtHuWPYpChBdW2o/edit#gid=0 to get an idea of the basic column headings but note that we don't know what all t

[2017-10-02 20:51] yochannah opened #9 "Create UI which reads data via the API"
A simple paginated list with filterable facets should suffice to start. Depends on #5 and #7

[2017-10-03 16:16] yochannah opened #10 "Share your story: Why does Science need Open Source?"
this could be done based on the output from the mozfest session

[2017-10-04 03:41] itsfreddyrb commented on #1
Yochannah! I'm in!

[2017-10-04 03:42] itsfreddyrb commented on #1
Do you have an idea of what you want?

[2017-10-05 15:18] yochannah commented on #1
Hey @geekfred ! I'm pretty open to anything honestly - the main thing I'm looking for is that it convey a melding or relationship between code and science. So long as it is a high quality vector, feel free to let your imagination run free!

I'm utterly in love with rainbows and material ui colours: https://material.io/guidelines/style/color.html#color-color-palette but that is not mandatory. Let m

[2017-10-05 15:47] itsfreddyrb commented on #1
Hey! I have some ideas! Let me do some quick sketching and we see what we can get!

[2017-10-09 18:39] itsfreddyrb commented on #1
Alright, so I've been playing around and came up with something I wanted to show you. Let me know.
<img width="1207" alt="screen shot 2017-10-09 at 1 37 06 pm" src="https://user-images.githubusercontent.com/7672885/31353201-365ef740-acf7-11e7-9d46-b9d491929d8b.png">
<img width="1179" alt="screen shot 2017-10-09 at 1 36 37 pm" src="https://user-images.githubusercontent.com/7672885/31353204-3701e0e0

[2017-10-09 18:53] yochannah commented on #1
I'm in love!! with them ALL!! especially the last three!!!! I may run out of exclamation marks :)

Feel free to PR them into the /static/ folder - maybe in a subfolder called /logos. I'll try and get some printed as stickers pronto so that I can take them with me to MozFest - if you would like copies, drop me your mailing address at yochannah@gmail.com and I'll arrange to send some over when they

[2017-10-09 19:16] itsfreddyrb commented on #1
Nice! hehe! Ok do you want the last 3? Like, I will send it away but don't you want to pick like an official one? haha...do you like the parenthesis in two colors? or 1 color?

[2017-10-09 19:19] yochannah commented on #1
I'd struggle with just one, but if forced to pick it would be number three. It's your choice if you want to PR all or just one, but I'd love to use them all if that works for you - do what you prefer, it's your contribution :)

 I like the two-colour parenthesis in particular!

[2017-10-09 19:21] itsfreddyrb commented on #1
They are all yours! I just wanted to know your pick :D hehe, Yes, number 3 is a bit more academic and formal.

[2017-10-10 09:20] #1 closed, assigned to nobody

[2017-10-10 15:03] yochannah commented on #10
Do you wish more code was open source?
Have you wished in the past that a DB of open source journals existed? Share your story (3 question form!): https://goo.gl/forms/k3IBxlDgi97ZTJuf2

[2017-10-18 12:27] yochannah opened #12 "Convert hand-drawn mockup to HTML & CSS - you can choose colours, fonts, etc."
## Task

 Convert [hand-drawn homepage mock](https://imgur.com/a/gs5c3) to basic html and css.

1. Comment on this task stating that you intend to complete this task
2. When you're ready, add your html mocks to the `static` directory and create a pull request.
3. Bask in glory and email me your address if you'd like to have some codeisscience stickers for your trouble.

## Basic tech and design sp

[2017-10-18 12:30] yochannah opened #13 "create html/css mock for code-is-science "add a journal page"."
This issue follows on from https://github.com/yochannah/code-is-science/issues/12 and should only be completed after https://github.com/yochannah/code-is-science/issues/12 is complete. Use the same design principles and the same header/footer from the previous mock.

![Mock 2 - add a journal](https://i.imgur.com/TAVyi5R.jpg)

### Add a journal page
- header and footer same as homepage
- no sidebar

[2017-10-18 12:44] yochannah opened #14 "Create list of reasons scientific code isn't open source"
Session notes are here: https://github.com/yochannah/code-is-science/blob/master/content/posts/mozfest-session-2017.md

We need to:

1. Create a new folder under the content folder called /reasons (or maybe fears?).
2. populate fears from the notes doc above, possibly categorised
3. regenerate hugo.

[2017-10-18 13:06] shmishtopher commented on #12
I can get to work on this, just one question: Can you please clarify the footer layout?

[2017-10-18 13:12] yochannah commented on #12
Hey @shmishtopher and thanks for volunteering to pick it up! sorry, I know the footer is a little bit scribbled-over and messy. It should be just a single straight element with copyright codeisscience and links to contact, twitter, and github - similar to the github footer at the bottom of this issue :) the line I scribbled out shouldn't be in the design.

Does that help?

[2017-10-18 13:36] shmishtopher commented on #12
Yes, I'll submit a pr tonight.

[2017-10-18 17:17] itsfreddyrb commented on #12
Hey! I know I'm not like an official contributor on this repository hehe, but I would like to look at the design so I can give my $0.02! If you need! Thanks!

[2017-10-18 21:23] yochannah commented on #12
Of course, I'd love your input!! :)

[2017-10-30 12:27] stain88 commented on #5
Hi :wave:
Regarding free to host, you could potentially have a folder in this repository, and then use GitHub's API (https://developer.github.com/v3/repos/contents/) to get/post updates to the DB.
Otherwise, a self-contained DB could be hosted on e.g. https://www.heroku.com/

[2017-10-31 16:33] yochannah opened #17 "Convert MozFest notes to manifesto draft."
Convert [MozFest notes](https://github.com/yochannah/code-is-science/blob/master/content/posts/mozfest-session-2017.md) to manifesto draft.

I'd like community input on this; maybe another workshop session of some sort?

[2017-10-31 23:41] leotrs commented on #1
Any word on the stickers? I love the logo and I was thinking about printing my own and just leaving them around, if that's OK @yochannah

[2017-11-01 21:11] yochannah commented on #1
@leotrs Yes! please go ahead!

You are entirely welcome to print out your own stickers and distribute them (and thank you!), or if you just want a few I can pop them in the post. I'd love to see some stickers in situ stuck on things!

[2017-11-01 21:55] yochannah opened #18 "New page: collect resources on good practices and good quality code"
Create page with list of recommendations for good practice, good quality code.

Some ideas:
 - https://twitter.com/PatSchloss/status/925447629890314241 - tag your github repos with 'reproducible-paper' when published
 - https://software-carpentry.org/ - resources to learn and teach coding practices for scientists.

People who aren't me: please feel free to add ideas in this issue until we have a g

[2017-11-01 21:59] yochannah opened #19 "Can we offer code review for scientific code?"
How would this work?

A few thoughts:
- maybe a list of people with domain expertise (e.g. biology, mathematics, physics) and language expertises?
- is this the right place to do this? Is there somewhere more appropriate?

Please comment with your thoughts how we could enact this!

This issue suggested by @leotrs

[2017-11-01 22:17] ha0ye commented on #18
cc @tpoisot

[2017-11-01 22:49] yochannah commented on #18
hmm, good heads up. we should link up with (and not duplicate!) https://github.com/tpoisot/ScientificComputingForTheRestOfUs/issues/11

[2017-11-01 23:28] ctb commented on #18
Best Practices in Scientific Computing, Wilson et al., 2014 - [link](http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745)

[2017-11-01 23:45] tpoisot commented on #18
I have a few at the bottom of the readme at https://github.com/tpoisot/ScientificComputingForTheRestOfUs -- would be awesome to have a consistent list!

[2017-11-01 23:47] tpoisot commented on #18
PS @yochannah I'm not worried about overlap at all, I think there will be a lot of complementarity!

[2017-11-02 07:27] pierrepo commented on #18
[Good enough practices in scientific computing](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510), PLoS Comput Biol, 2017.

[2017-11-02 09:03] samuell commented on #18
There's also [Ten Simple Rules for Developing Usable Software in Computational Biology](https://doi.org/10.1371/journal.pcbi.1005265), PLoS Comp Biol, 2017.

[2017-11-02 13:58] leotrs commented on #1
@geekfred I love the logos and I want to print some stickers based on them! However, I want to maximize the chance of my peers buying into them - can I modify the logos to make them more attractive to practitioners of my field? My field is Network Science - I was thinking of replacing the DNA strand with a network. Looking forward to your response!

[2017-11-02 14:00] yochannah commented on #1
My 2c: please upload them to the logo folder if you do! :)

[2017-11-02 14:00] leotrs commented on #19
Before taking it up on ourselves to offer this to the wider public, I want to run a local experiment. In the following weeks I want to offer code reviews for people at my lab. I'll see how that goes and report the results here. With that experience we can move on to thinking about the big picture!

[2017-11-02 14:05] leotrs commented on #18
https://github.com/bulutyazilim/awesome-datascience

[2017-11-02 14:06] itsfreddyrb commented on #1
Of course, this was created for them, so, they command! Ask them hehe...I also have some stuff to help with the look and feel on the website, but work has been exhausting lately. :(

[2017-11-02 14:07] leotrs commented on #18
After we have gathered an initial list, it could be a good idea to try to narrow down the purpose of the list. I'm not worried about overlap either, but we would be better off with a clear objective in mind. Some options.
1. List of tutorials on how to do data science for scientific computing
2. How to write good quality code
3. How to manage a data-intensive scientific project
Best case scenario,

[2017-11-02 14:12] leotrs commented on #18
The author of [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do
) is also a great resource in general: https://twitter.com/jakevdp

[2017-11-02 14:26] gramian commented on #18
J. Fehr, J. Heiland, C. Himpe, J. Saak. "Best practices for replicability, reproducibility and reusability of computer-based experiments exemplified by model reduction software". AIMS Mathematics 1(3): 261--281, 2016. https://doi.org/10.3934/Math.2016.3.261

[2017-11-03 21:08] synapticlee commented on #18
http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005412

Ten simple rules for making research software more robust

[2017-11-08 11:29] yochannah commented on #18
https://figshare.com/collections/Proceedings_of_the_Workshop_on_Sustainable_Software_for_Science_Practice_and_Experiences_WSSSPE5_1_/3869782

[2017-11-08 12:22] yochannah commented on #17
Notes from SSI discussion: we need to include the importance of software citation here!

[2017-11-08 14:25] yochannah commented on #17
Software isn't measured only by papers; also by code quality

[2017-11-08 15:06] leotrs commented on #17
I like the idea of a manifesto. There are a good few gems in [Best Practices for Scientific Computing](http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745) for example,
1. Write programs for people, not computers
2. don't repeat yourself

[2017-12-31 14:28] ikayz commented on #12
Can I still take up this task? It'll be my first contribution to any GitHub project which is not my own. I'm new to open source and GitHub.

[2017-12-31 15:43] yochannah commented on #12
@ikayz yes, absolutely! :) shmishtofer made a start on this but I think wasn't able to finish it; you can see the details here: https://github.com/yochannah/code-is-science/pull/15 - it's merged already, but it's up to you if you'd like to continue the work where it dropped off or make your own version

Feel free to ping me here if you have any questions or need any input!

[2017-12-31 15:59] yochannah opened #20 "Configure CI for the hugo website"
This site is powered by hugo. Let's configure continuous integration so we don't have to build manually before deploying.

Possible guidelines: https://www.metachris.com/2017/04/continuous-deployment-hugo---travis-ci--github-pages/

[2017-12-31 20:10] yochannah opened #21 "Science+open source hackathon?"
So, this is an idea that's been bubbling in my head for some time is that we should probably try to spread the word and get more people to contribute to *academic* open source projects.

# Idea:
How about something akin to Hacktoberfest, but specifically aiming to:
1. Draw in academics / scientists / researchers / research software engineers / software devs with an interest in science.
2. Working

[2018-01-01 07:45] andytwoods commented on #21
Happy to help. I ponder if a month is too long (for the first time).

Might be cool to have a 'learn to code' thingo for non-coders.

[2018-01-01 16:12] ikayz commented on #12
@yochannah I have looked at shmishtofers' code and I'll make my own version. For any questions I'll surely ask you.

[2018-01-01 16:31] yochannah commented on #12
Sounds good!

[2018-01-01 19:45] ababaian commented on #21
We're out in Canada, but [hackseq18](http://www.hackseq.com) should be ~October and we have quite a similar mission. We should collaborate.

[2018-01-02 10:47] Franknorman commented on #21
I agree that one month may be too long.  cf. Open Access week (October) and Love Data week (Feb).  Have you reached out to other groups active in this area eg http://rse.ac.uk/ ?

[2018-01-03 10:51] ocramz commented on #21
Great initiative, I'm eager to participate & help out. Could NumFocus (https://www.numfocus.org/) be a possible source of support/funding?

[2018-01-04 18:04] gedankenstuecke commented on #21
I know that the concept is very different, but would maybe a focussed two-day event like the Global Sprint be a better kick-off thing? That way people could also come together in person for working together plus it's a clearer commitment in a sense.

[2018-01-09 08:40] HeidiSeibold commented on #19
@ropensci does reviews of R packages http://onboarding.ropensci.org/#why-review

[2018-01-09 08:46] HeidiSeibold commented on #13
Have you already started the list somewhere? You could already get it started with e.g. an open google sheet?

[2018-01-09 22:04] yochannah commented on #13
Hey @HeidiSeibold! I do have a submission form; it's sadly lacking in responses right now though :( Feel free to add some if you know of any offhand.

Form: https://goo.gl/forms/ScgFcKJrfIUTBOl83
Responses: https://docs.google.com/spreadsheets/d/1oY5ak7VJa-qwJJeWA3829S-1akZaYtHuWPYpChBdW2o/edit#gid=0

[2018-01-10 07:56] HeidiSeibold commented on #13
I submitted two :)

Let me know if you need help promoting the list (e.g. on twitter)

[2018-02-02 12:56] ivyleavedtoadflax commented on #21
Love the idea! Has you seen the http://dataopsmanifesto.org/, there may be some ideas you can borrow?

[2018-02-02 14:26] bsipocz commented on #2
the journals of the American Astronomical Society promotes software publications, and usually require at least to cite/name the software packages that were used. It doesn't yet enforce the publication of all the software written to produce the given result, but definitely a welcomed step in the good direction:

http://journals.aas.org/policy/software.html

[2018-03-15 08:17] yochannah commented on #12
Hey @ikayz! Did you ever get a chance to look at this? (No worries if you didn't, just following up quickly)

[2018-03-15 19:58] ikayz commented on #12
@yochannah yes I did have a look at it. I have the assets cloned locally on my laptop. Is it too late for me to work on it and submit? Had a series of events which were beyond my control.

[2018-03-15 20:00] yochannah commented on #12
If It works for you, please go ahead! (And thanks!!) If not, that's fine,
it's just nice to free the issue up. <3

On Thu, 15 Mar 2018, 19:58 Isaac Miti, <notifications@github.com> wrote:

[2018-03-15 20:40] ikayz commented on #12
Alright thanks

[2018-03-16 14:10] ikayz commented on #12
Alright thanks

[2018-03-21 14:03] ikayz commented on #12
@yochannah I'm ready to make a pull request so you can have a look at what I worked on.

[2018-03-21 14:04] yochannah commented on #12
Pull away - I can't wait!! :D

On Wed, Mar 21, 2018 at 2:04 PM, Isaac Miti <notifications@github.com>
wrote:

[2018-03-21 14:44] ikayz commented on #12
Made the request

[2018-03-21 14:46] yochannah commented on #12
Awesome, and thanks! I'll try to review it tonight (UK time) :)

On Wed, Mar 21, 2018 at 2:44 PM, Isaac Miti <notifications@github.com>
wrote:

[2018-03-21 14:47] ikayz commented on #12
Alright

[2018-03-24 20:49] yochannah commented on #12
Ok, this has been completed thanks to @ikayz's awesome work 😻 😍 💯

[2018-03-24 20:49] #12 closed, assigned to nobody

[2018-03-24 20:57] yochannah commented on #13
I've added first timers only tags to this issue, as #12 is now complete.

## Newcomers: If you'd like to pick up this issue, here's what to do!

1.  Please look at the code from this PR: https://github.com/yochannah/code-is-science/pull/22
2. Comment on this issue and let me know you're working on it! <3
3. Fork this repo and make a copy of `static/index.html`, then rename it something sensible li

[2018-03-24 20:58] yochannah commented on #12
@ikayz P.S. - was this your first open source PR?

[2018-03-24 21:10] ikayz commented on #13
@yochannah I have decided to work on this one as well.

[2018-03-24 21:13] ikayz commented on #12
@yochannah yes it was and I'm proud of it.

[2018-03-24 21:31] agbeltran commented on #2
Hi @yochannah - are you compiling the journals in the google doc? This blog post seems useful: https://www.software.ac.uk/which-journals-should-i-publish-my-software

[2018-03-24 21:48] yochannah commented on #13
Sure, go ahead! :)

[2018-03-24 21:49] yochannah commented on #12
omg, that is really cool! well done and THANK YOU!! <3

[2018-03-24 22:02] yochannah commented on #2
@agbeltran Thanks for that link!! I was thinking of maybe spending time on the final hack day at the collaboration workshop reviewing journals to add to https://docs.google.com/spreadsheets/d/1oY5ak7VJa-qwJJeWA3829S-1akZaYtHuWPYpChBdW2o/edit#gid=1946180293 (or maybe even a real db if we have time to set it up) - that link is probably a great place to start

[2018-03-24 22:26] yochannah opened #23 "Export .png version of logo with white text"
## Background

The current mock has a logo with dark text on a dark background. It might be easier to read if the text was white instead.

![image](https://user-images.githubusercontent.com/9271438/37869555-3ab10d96-2fb1-11e8-8eca-758e6718b621.png)

Logos are located here:
https://github.com/yochannah/code-is-science/tree/master/static/images

## Task

- Export new copies of the logos in the image

[2018-03-25 06:42] jacksonchui commented on #23
I'll work on this

[2018-03-25 10:50] yochannah commented on #23
Awesome! :) Ping me if you have any questions

[2018-03-25 19:02] ikayz commented on #12
It was an honour 😃

[2018-03-26 18:38] ikayz commented on #13
@yochannah finished working on it. Check PR.

[2018-03-27 07:30] yochannah commented on #13
Thanks for letting me know! I'm at a conference but will look at it in a
day or two :)

On Mon, Mar 26, 2018 at 7:38 PM, Isaac Miti <notifications@github.com>
wrote:

[2018-03-27 09:47] ikayz commented on #13
Alright

[2018-04-09 12:03] yochannah commented on #23
Resolved by #24 <3

[2018-04-09 12:03] #23 closed, assigned to nobody

[2018-04-09 12:57] yochannah commented on #17
Update: at [cw18](https://github.com/topics/cw18) we worked on a manifesto draft together and have it open to public consultation until ~June 1. The draft text is here: https://github.com/codeisscience/manifesto/blob/master/manifesto.md

Please feel free to comment, pr, raise issues, etc!

[2018-04-29 14:16] yochannah commented on #13
fixed by #25

[2018-04-29 14:16] #13 closed, assigned to nobody

[2018-05-09 10:14] JJ commented on #20
You can do that by configuring a token in Travis (or wherever), or locally by creating a post-commit hook. I can do the second, although it will have to be installed by hand by linking it from the .git/hooks directory.

[2018-05-09 10:20] JJ commented on #18
[Figshare](https://figshare.com) is an excellent resource to publish code. There's also GitXiv, where you can match your ArXiV publication with code in GitHub. Also [OSF](https://OSF.io)

[2018-05-09 10:25] JJ commented on #5
Heroku can only use postgreSQL if you don't want to introduce your credit card. If it's a lightweight thing, and we want same people with access to the site to have access to the DB, we could just use a bunch of JSONs right here in the repository. Change each JSON with a commit, and you even have rollback capability. You can use that easily from static pages, and even add search capabilities in th

[2018-05-09 10:37] yochannah commented on #20
feel free to pick this up! <3

[2018-05-09 10:45] JJ commented on #17
OK, let me pick a bone that has troubled me through time here. And full disclosure before I go ahead: I don't like proprietary software in science. Main point is that using proprietary software makes science not reproducible, since you might not be able to use that particular proprietary software (or platform) needed. So my (maybe not so) small proposal would involve slightly changing phrasing so

[2018-05-09 10:49] synapticlee commented on #2
Would add that Plos computational biology takes software submissions http://journals.plos.org/ploscompbiol/s/submission-guidelines#loc-software-submissions

[2018-05-10 07:51] yochannah commented on #20
whoops, that label was a slip of the finger. This is _not_ a first timers issue!

[2018-05-10 10:20] JJ commented on #21
Always up for hackathons...

[2018-05-10 11:59] yochannah commented on #5
@JJ  I love the idea of PRs for json but I'm worries it wouldn't be accessible enough for not technical users - I think we'd need a proper db or at least a google form (but I think a db is probably easier to manage)

[2018-05-10 12:18] yochannah opened #27 "Add favicon to main page"
I'd like to have a favicon. The main logos are located in the static/images folder and the header template file is [here](https://github.com/yochannah/code-is-science/blob/master/themes/codeisscience/layouts/partials/header.html) - can we convert one of our images into a favicon (maybe one of the no-text logos?)

## if you want to pick up this task

1. Comment on this issue stating that you intend

[2018-05-10 12:32] yochannah commented on #17
@JJ In essence, I agree with you that all scientific code should be open source and that proprietary software shouldn't exist in science at all (at least, I've yet to hear a good argument for highly expensive / closed software yet!) BUT I also want something realistic - and I think more people are likely to adopt the manifesto if it's accepting. so, to my mine:

1) BEST CASE: Paper is published wi

[2018-05-10 12:36] yochannah commented on #17
marking this issue as closed since the manifesto is currently in draft format.

[2018-05-10 12:36] #17 closed, assigned to nobody

[2018-05-10 12:58] igomez10 commented on #27
Hey, I want to work on this issue. Do you mean creating a favicon from this [logo](https://raw.githubusercontent.com/yochannah/code-is-science/master/static/images/logo.png
) and adding it to the template?

or cropping the logo the only have the DNA left side

[2018-05-10 13:17] yochannah opened #28 "Comment on our manifesto!"
WE HAVE A MANIFESTO! This outlines our community thoughts on the place of code in science and academia. Consultation open until end of May 2018, launching formally early June 2018.

**View the manifesto here:** https://codeisscience.github.io/manifesto/manifesto
**Comment on the manifesto here: ** https://github.com/codeisscience/manifesto/issues

[2018-05-10 13:17] yochannah commented on #27
@igomez10 whatever you think looks best!

[2018-05-10 13:29] yochannah opened #29 "Add links to manifesto and manifesto comments to homepage"
Manifesto: https://codeisscience.github.io/manifesto/manifesto

I'd like this link to be really prominent (maybe in a button or something) here: https://github.com/yochannah/code-is-science/blob/master/content/_index.md

## if you want to pick up this task

1. Comment on this issue stating that you intend to work on the task
2. When you're ready, add your work to the repo and create a pull request

[2018-05-10 13:38] yochannah opened #30 "Add citation guidelines for this repo"
ideally using https://citation-file-format.github.io/ to get there.

## if you want to pick up this task

1. Comment on this issue stating that you intend to work on the task
2. When you're ready, add your work to the repo and create a pull request.
3. Bask in glory and email me your address if you'd like to have some codeisscience stickers for your trouble. <3

### What to do if you need help

Me

[2018-05-10 13:41] yochannah opened #31 "Add credits to site footer"
We used [icomoon](https://icomoon.io/app/#/select) & [hugo](https://gohugo.io/) to get up and running! Let's add links to these in the footer of the page, here:

## Getting started.

1. Comment on this issue stating that you intend to work on the task
2. When you're ready, add your work to the repo and create a pull request.
3. Bask in glory and email me your address if you'd like to have some cod

[2018-05-10 14:37] sarahchima commented on #31
I want to work on this task.

[2018-05-10 14:46] Tlazypanda commented on #29
Hey @yochannah I would be interested in taking up this issue! 😄

[2018-05-10 14:55] yochannah commented on #18
this was implemented nicely by @JJ so closing the issue - thank you so much! <3

If anyone else wants to view the page it's here: http://www.codeisscience.com/posts/good-practices-code/

or to add / modify for prs: fork & modify: https://github.com/yochannah/code-is-science/blob/master/content/posts/good-practices-code.md

[2018-05-10 14:57] yochannah commented on #27
Fixed by https://github.com/yochannah/code-is-science/pull/32 Thanks @igomez10 !! 😍

[2018-05-10 14:57] #27 closed, assigned to nobody

[2018-05-10 14:57] yochannah commented on #29
@Tlazypanda awesome! go go go! 😍 Let me know if you have any Qs

[2018-05-10 15:08] yochannah commented on #31
@sarahchima You are brilliant! Go go go - let me know if you have any questions!!

[2018-05-10 15:13] ha0ye commented on #5
So, regarding accessibility... what are the loose specs there? It seems like anything with formal DB would be difficult for non-technical folks to deal with (esp. if it requires specialized software).

I like Google Sheets as a general point of entry. Initial thoughts here if you need programmatic access is the R package for dealing with google sheets, then adding a few lines to Travis CI to run a

[2018-05-10 15:17] yochannah commented on #5
@ha0ye I'm open to *any* implementation so if R sounds doable then that's great! I agree it's important to not add technical barriers, as well. Do you need anything frmo me to start down the R route? I'l invite you as a contributor

[2018-05-10 15:22] ha0ye commented on #5
@yochannah Yeah, R is good for me, and I've been meaning to play around a bit with CI usage anyway. Would the basic goal be to render a page for the website with a table for the DB? It could be static or deploy something fancier, e.g. by using flexdashboards: https://rmarkdown.rstudio.com/flexdashboard/index.html

[2018-05-10 15:29] yochannah commented on #5
@ha0ye yes! I also have a mock for the page look here: https://github.com/yochannah/code-is-science/blob/master/static/mocks/index.html

[2018-05-10 15:48] JJ commented on #5
Problem with Google Spreadsheets, or any other online thing for that
matter, is to render it in whatever format the page is in.
Anyway, what's the use case here? We can have people submitting pull
requests with new resources in table form, for instance, and then hugo-ize
that simple table into a web page, or else create a script that can do
that. It does not get simpler than markdown and push-butt

[2018-05-10 15:51] yochannah commented on #5
I've met quite a few people who are intimidated by the github interface and how to write markdown. It's possible that academics who care about open source code do know markdown and github, but I don't want to exclude those who don't know github if at all possible. I think @ha0ye was going to use the R API to read from the spreadsheet, and we can use a google form to write to the spreadsheet so I d

[2018-05-10 16:19] JJ commented on #5
OK :-) Great idea.

You'll need to have the R code hosted somewhere, though... You can read
Google Spreadsheet data, if it's public, using client-side javascript. I
don't really know if you're looking for a hosted solution, or simply have
something hosted here, in GitHub. Since my funding is not regular, I tend
to look for solutions that are self-hosted and self-mainained and, if
possible, free.

[2018-05-10 16:23] JJ commented on #20
What do you want to do in Travis? Check spelling, for instance?

[2018-05-10 16:27] ha0ye commented on #5
My current thinking is that the CI can run the R scripts alongside anything else to generate the website. My lab currently uses a similar workflow for automated analyses on continually updating data (https://github.com/weecology/portalpredictions), so it's fairly straightforward for me to port some of the ideas over to here.

Would still need some sort of hook to auto-rerun CI upon updates to the

[2018-05-10 17:15] JJ commented on #5
You can configurate forms so that they send you an email every time
somebody answers, right?

[2018-05-10 18:13] aath0 commented on #19
I really like the idea of scientific code reviewers and having a list of people with domain expertise.
How about pairing people according to discipline and programming language, so that they can review each other's code?
I feel that giving some good incentive to review will be important here, as it takes a long time if you want to do it well and it's a big responsibility!

[2018-05-10 18:14] yochannah commented on #19
should we make a list of people who have domain expertise and programming
expertise of various sorts? linked to orcid somehow, maybe. Is that even a
feasible thing or insanity?

On Thu, May 10, 2018 at 7:13 PM Athina Tzovara <notifications@github.com>
wrote:

[2018-05-10 18:25] aath0 commented on #19
Orcid is a good resource, but I guess it might be hard to mine information from there about the coding that someone did. Maybe if there's a spreadsheet people can write down themselves which programming language and which domain/techniques are within their comfort zone?

I don't know if it's insanity, but I would personally love to have an extra pair of eyes review my code just before submitting w

[2018-05-10 18:28] yochannah commented on #19
ooooh, like a group of code review volunteers and / or a resource journals
could use to source reviewers? I like it!!

we could start with a google form for input, I guess. What columns would we
need?

mandatory:
- name
- email address
- domain expertises
- language expertises

optional(?)
- orcid
- github user

anything else?

On Thu, May 10, 2018 at 7:25 PM Athina Tzovara <notifications@github.c

[2018-05-10 19:23] aath0 commented on #19
Sounds good :) Maybe in addition to domain expertise there can be the option to include techniques within the domain (for example for me it'd be 'neuroscience' and the technique 'electroencephalography') and in addition to language also have optional packages/toolboxes? I can imaging that reviewing code written around a toolbox that someone is using often is much easier than starting with somethin

[2018-05-11 03:43] sliceking commented on #30
Hi, I'd like to help with this but I'm not sure what metadata to include in the .cff

[2018-05-11 05:46] suleka96 commented on #31
I would also like to give this a try

[2018-05-11 07:49] yochannah commented on #31
@sarahchima how did you get on with this - did you manage to get the css to work?

@suleka96 I'd like to give @sarahchima a chance to look at this first if you don't mind <3 thanks for the offer though!

[2018-05-11 09:31] yochannah opened #35 "Create code reviewer database"
See https://github.com/yochannah/code-is-science/issues/19 for the discussion leading up to this. Implementation method is up to you - this could be google sheets and a script to read from them as needed. This option is good because it requires minimal setup / paid hosting. You can see @ha0ye's approach to the google sheets option here: https://github.com/yochannah/code-is-science/pull/33

We woul

[2018-05-11 09:41] yochannah commented on #30
@svwielga4 for author, you could start with referencing my details from my github profile if that's handy?

project: code is science
version... 1.0 I guess?
date release.... 1 october 2017

is that enough to go on?

[2018-05-11 10:55] yochannah commented on #20
So I didn't quite understand how the post-commit hook works - I was assuming that it would run on travis (even though you did say above it ran locally!). The hook is great but it doesn't stop people from accidentally commiting changes that won't be reflected on the website.

We have two things we could configure for travis

- [ ] build hugo and push to the repo
- [ ] build the r script in this pr:

[2018-05-11 11:29] JJ commented on #20
El vie., 11 may. 2018 a las 12:55, Yo Yehudi (<notifications@github.com>)
escribió:

When you install it locally, it automatically runs Hugo.

builds, then you can commit and push. Commit can also be done automatically
with some standard message, if needed.

[2018-05-11 11:40] yochannah commented on #20
committing with a standard message (and maybe even push) would be brilliant!

On Fri, May 11, 2018 at 12:29 PM Juan Julián Merelo Guervós <
notifications@github.com> wrote:

[2018-05-11 13:24] aariops commented on #14
I can do it :hand: :smile:

[2018-05-11 13:30] yochannah commented on #14
<3

[2018-05-11 14:14] ha0ye commented on #20
Sounds like the `post-commit` hook is for running hugo locally on each commit, such that the website files get updated and included?

The common Travis CI configurations I've seen generate the website files and push them to a different branch, which GitHub Pages (or another service) then uses for the website. Is that where this issue is headed?

[2018-05-11 14:15] yochannah commented on #20
@ha0ye ideally, yes - that way someone who doesn't have hugo on their
machine could still update the site

On Fri, May 11, 2018 at 3:14 PM Hao Ye <notifications@github.com> wrote:

[2018-05-11 15:27] JJ commented on #20
@ha0ye that's correct, that's what it does.
@yochannah if you want Travis to update stuff for you this can still be used, but let's look at several scenarios here.
* In the first one, you have to set up your GitHub API key in Travis so that Travis can write to your repo. Then every time someone with push access to the repo does that, Travis pushes back to GitHub . That implies setting up the opera

[2018-05-11 15:32] sliceking commented on #30
awesome! thank you = )

[2018-05-11 19:23] aath0 commented on #35
Glad this is moving forward! Let me know if I can help somehow :)

[2018-05-11 19:28] yochannah commented on #35
I am *so* grateful for your help in thinking and talking through the idea!
Hopefully @ha0ye's R approach to the journal list can be applied here, too,
when we get the chance. 😄

On Fri, 11 May 2018, 20:23 Athina Tzovara, <notifications@github.com> wrote:

[2018-05-12 07:36] JJ commented on #30
Added a citation.bib to my PR, just in case you want to check it out.

[2018-05-19 16:22] yochannah commented on #30
@JJ thanks for the citation.bib! @svwielga4, thanks for the cff!

[2018-05-19 16:22] #30 closed, assigned to nobody

[2018-05-19 16:32] JJ commented on #30
:+1:

[2018-05-20 16:47] yochannah opened #39 "Site header: doesn't wrap well on small screens"
See screenshot below - the list content doesn't wrap nicely. We could probably shrink the logo margins and make things wrap a bit better, maybe with some flexbox layout instead of floats. Docs on how to update the site and build the css are here: https://github.com/yochannah/code-is-science/wiki

![image](https://user-images.githubusercontent.com/9271438/40281135-6dda112e-5c55-11e8-826a-1c3624be5a

[2018-05-22 00:37] DustinsCode commented on #39
Hello! I would like to give this task a shot for my first open source contribution, if that's okay!

[2018-05-22 02:18] abhiabhijit commented on #39
#30

Hello You can use media queries, to handle the  Screen width related issues.

I have modified your header part and rebuild it using Flex and media queries.

I have also added font-awesome icons to the titles if you dont like them , you can remove it, but the purpose of your problem is served

Here is the [link](https://github.com/abhiabhijit/GithubContributions-/blob/master/Respnavbar.html) o

[2018-05-22 21:08] yochannah opened #40 "add icons for the nav links in the top bar"
We use inline icomoon svg icons already in the contact page, so it would be nice to keep things consistent. @abhiabhijit, would you like to give this a go? :)

First, fork the repo, then in your fork of the repo, add icons.

### to add icons:

1. go to the [icomoon](https://icomoon.io/app/#/select) app and select relevant icons for each of the links
2. click generate svg & more on the bottom bar o

[2018-05-22 21:09] yochannah commented on #39
The files you probably need to edit for this are the less file, here: https://github.com/yochannah/code-is-science/tree/master/themes/codeisscience/static/css

@abhiabhijit thanks for giving this a go!  @xStaticVoid offered to look at this first so I'd rather give them the chance to have a look first, if you don't mind :) but if you'd like, I have an issue for adding icons, here:

@xStaticVoid You

[2018-05-22 21:15] DustinsCode commented on #39
@yochannah I am! I wanted to wait until I received word to work on it.  I'll start when I get home from work tonight! Thanks! :)

[2018-05-22 21:17] yochannah commented on #39
Yay, brilliant!

On Tue, 22 May 2018, 22:15 Dustin Thurston, <notifications@github.com>
wrote:

[2018-05-23 02:44] abhiabhijit commented on #40
I am Interested in doing it.

[2018-05-23 05:42] yochannah commented on #40
@abhiabhijit brilliant. Please go ahead and let me know if anything isn't clear. Quick warning- I'm out at my brother's wedding from tonight until Monday evening, so I may not answer questions over that period.

[2018-05-23 06:05] KirstieJane opened #42 "Contact info doesn’t wrap well on small screens"
## Describe the issue in as much detail as possible

Rather similar to the header not wrapping well on small screens (as described in #39) the boxes containing information on how to contact Code is Science don’t wrap well on small screens.

## What page(s) does it occur on?

The contact page on the website: http://www.codeisscience.com/contact/

Here are some screenshots from my iphone (sorry if t

[2018-05-24 20:29] alokpant commented on #42
There seems to be responsive issues with the website. If this is available, I would like to help out @yochannah

[2018-05-24 21:01] yochannah commented on #42
@mind3less I would love that, thanks! I'm on holiday at my brother's
wedding right now so I might not be able to respond properly until next
week but maybe one of the other contributors will be able to help if you
have any questions or make a PR <3

On Thu, 24 May 2018, 23:30 mindl3ss, <notifications@github.com> wrote:

[2018-05-25 05:46] alokpant commented on #42
@yochannah No worries. Please enjoy the wedding. Best wishes for married couple. I will create PR and let it there for review.

[2018-05-26 13:54] alokpant commented on #39
@xStaticVoid Not sure if you have already fixed it, I was working on https://github.com/yochannah/code-is-science/issues/42 and had to also fix the navigation as part of my changes. PR is here: https://github.com/yochannah/code-is-science/pull/43
cc: @yochannah

[2018-05-26 13:55] alokpant commented on #39
Sorry for the confusion, it is already merged. 👍 I got confused because of reference.

[2018-05-26 14:35] alokpant commented on #39
If issue is fixed, will it be possible to close it to avoid future confusions? @yochannah

[2018-06-02 19:22] rddravic commented on #31
@yochannah : Hi, I would like to give my contributions to codeisscience. I'm a beginner

[2018-06-02 19:26] yochannah commented on #31
@rddravic Sure, go ahead! This issue still needs to be done. There are some instructions for building the css and site on the wiki https://github.com/yochannah/code-is-science/wiki

Let me know if you have any questions or need help getting started.

[2018-06-02 19:34] rddravic commented on #31
@yochannah : Can I have more clarity on what needs to be updated. I see many files having footer links. Can I have any preview attachment kind of

[2018-06-02 19:40] yochannah commented on #31
@rddravic This is the file: https://github.com/yochannah/code-is-science/blob/master/themes/codeisscience/layouts/partials/footer.html perhaps some text like

"Icons by Icomoon and site generated by Hugo" (with links to icomoon/hugo) would be perfect.

[2018-06-02 20:36] yochannah commented on #42
Thanks for fixing this, @alokpant!

[2018-06-02 20:36] #42 closed, assigned to nobody

[2018-06-02 21:12] yochannah opened #44 "journal page - make it include the header include file [interesting mix of R and hugo templating]"
So, the site is built largely using [hugo](https://gohugo.io/) with the exception of the journals page, which is rendered using [knitr](https://yihui.name/knitr/) R-related wizardry. @alokpant wisely suggested that the journals page should use the same header, which is entirely sane. Offhand I'm not sure how to mate the hugo template with the R template, or even if it's possible, but it would be n

[2018-06-02 21:15] yochannah commented on #39
whoops, you're right, I should have closed this - thanks for the heads up @alokpant  and thanks @xStaticVoid for the fix! :)

[2018-06-02 21:15] #39 closed, assigned to nobody

[2018-06-02 21:16] yochannah commented on #29
@Tlazypanda did you ever have any luck with this? I can help if needed

[2018-06-02 21:17] yochannah commented on #28
We'll be launching the manifesto soon - closing this task. Next step is to get people to *sign* the manifesto!

[2018-06-02 21:17] #28 closed, assigned to nobody

[2018-06-02 21:25] yochannah commented on #40
@abhiabhijit How are you getting on with this one? Can I help at all? :)

[2018-06-02 21:27] yochannah commented on #35
We also need to have a user's credentials (_why_ is this person qualified to review these topics?) . Can this be pulled via API from orchid? possibly, but it might require auth. The other option is to ask them to list it manually in some brief way.

[2018-06-02 21:29] ha0ye commented on #35
Could mirror what the @ReScience org is doing for reviewer applications:
https://github.com/ReScience/ReScience/issues/27

[2018-06-03 09:50] alokpant commented on #44
@yochannah I will do some research to see if this is possible or not.

[2018-06-03 10:47] alokpant opened #45 "Create PR template"
When submitting a PR, if there is a predefined template, then it would make it easier for developers to outline changes. As references between PR (s) and Issue(s) are documented within Github, so in long run it will also make it easier to close already solved issues.

For now it would make sense to just create a PR template. Github has good documentation on how to create it [here](https://help.git

[2018-06-03 10:52] alokpant commented on #45
For now, it would be nice to have a simple PR template. My suggestion would be to include:

[code]

Example based on my last PR would be:

---

Fixes #
https://github.com/yochannah/code-is-science/issues/42

### Changes

Summary of changes you made.

* Make contact us Links adapt to smaller screens
* Fix menu items for smaller and medium devices
* Add proper two column layout to pages

### Test pl

[2018-06-03 10:54] alokpant commented on #45
I have also updated my closed PR with this template: https://github.com/yochannah/code-is-science/pull/43

[2018-06-03 10:56] alokpant commented on #45
Another sample of PR template:

[code]

[2018-06-03 10:59] alokpant commented on #45
@yochannah If it makes sense, then I can create PR template.

[2018-06-03 11:03] yochannah commented on #45
I have no words for how awesome you are! My one comment is to remember that not all prs are bug related - they could be new features or docs or something else :) but please go ahead!!

[2018-06-03 11:19] yochannah commented on #5
This issue was closed by the above PR.

[2018-06-03 11:19] #5 closed, assigned to nobody

[2018-06-03 11:19] alokpant commented on #45
@yochannah Absolutely. As I mentioned above, there is a way to choose between **Issue** vs **Feature/Enhancement Request** when new issue is selected. However all of them will be listed under [Issue](https://github.com/yochannah/code-is-science/issues) section. Only templates will be different.

When submitting a PR, as far as I know there is no way to differentiate between a bug or a new feature.

[2018-06-03 11:20] yochannah commented on #9
Solved by #33

[2018-06-03 11:20] #9 closed, assigned to nobody

[2018-06-03 11:21] yochannah commented on #45
Sounds good!

[2018-06-03 11:55] #45 closed, assigned to alokpant

[2018-06-03 18:48] yochannah opened #48 "Footer link colour doesn't contrast very well [css fix needed]"
See screenshot - dark purple on dark blue doesn't work too well :D can we make it a more readable colour?

![image](https://user-images.githubusercontent.com/9271438/40889970-049557b0-6767-11e8-99d6-2e4b5026e6c5.png)

[2018-06-03 18:50] yochannah opened #49 "Footer - centre all content [css fix needed]"
See image - it might be nice to have all footer content centred tidily
![image](https://user-images.githubusercontent.com/9271438/40889982-30453e34-6767-11e8-8660-d8899a26fa9b.png)

Could be done at the same time as #48

[2018-06-03 18:51] #31 closed, assigned to nobody

[2018-06-04 06:08] alokpant commented on #44
@yochannah I have not worked with RStudio and knitr before. I will look into it again. However if anyone has more idea around Rstudio then this is also free to be taken.

I was trying around https://github.com/alokpant/code-is-science/pull/2, and few things that came up:
1. Most of styling in page is same, so we can create a single Less file and then import it.
2. Journal table has few plugin depe

[2018-06-04 15:34] alokpant commented on #48
@yochannah I can look at this. I would also suggest to increase font-size to 16px, as 12px is barely visible nowadays. With increasing resolution of laptop, 16px looks much readable than others.

[2018-06-04 15:59] yochannah commented on #48
Sounds good, and thanks!

On Mon, Jun 4, 2018 at 4:34 PM mindl3ss <notifications@github.com> wrote:

[2018-06-06 16:57] #48 closed, assigned to nobody

[2018-06-06 16:58] yochannah commented on #49
Fixed by @alokpant

[2018-06-06 16:58] #49 closed, assigned to nobody

[2018-06-08 17:07] #18 closed, assigned to nobody

[2018-06-10 09:44] yochannah opened #51 "Update manifesto page to either contain manifesto or link to manifesto"
So, I'm about to print some leaflets and a poster with the url codeisscience.com/manifesto as the main entry point.  That currently exists as manifesto.md in the root of the content folder here.

We could do one of the following:

 - either
     - copy [the text](https://codeisscience.github.io/manifesto/manifesto) to manifesto.md in this repo
     - add links to pledge support as organisation and

[2018-06-10 09:47] yochannah commented on #51
Forgot to add - this needs be done by ~June 20th at the latest in time for my talk at GCCBOSC!  I would be grateful for someone else's opinion on the matter if possible as I'm having trouble deciding :)

[2018-06-10 10:07] JJ commented on #51
But right now codeisscience.com is generated directly from the markdown
using Hugo, right? You can probably generate the HTML page directly
bypassing Hugo and insert a 301 header in the HTML code, if I'm not wrong,
right?

[2018-06-10 10:10] yochannah commented on #51
I think http status codes are generated by the server and can't be provided by HTML content, but I could be mistaken.

[2018-06-10 10:13] JJ commented on #51
You can do this:

<meta http-equiv="refresh" content="0; url=http://example.com/" />

I think most, or any, HTTP status codes generated by the server can be
embedded in web pages, precisely for this kind of situations. See here:
https://stackoverflow.com/questions/5411538/redirect-from-an-html-page

[2018-06-10 10:16] JJ commented on #51
Also this, but it uses Jekyll, and I don't know if it will be applicable
here... https://help.github.com/articles/redirects-on-github-pages/

[2018-06-10 10:18] JJ commented on #51
And this is Hugo specific:
https://discourse.gohugo.io/t/url-redirect-forwarding/4689/2

[2018-06-13 16:28] ikayz commented on #40
@yochannah do you still need someone to work on this issue?

[2018-06-13 20:50] yochannah commented on #40
@ikayz I think it should be ok to pick this one up if you like. Thanks! :)

[2018-06-16 09:06] ikayz commented on #40
@yochannah alright I'm on it 😃

[2018-06-20 20:58] yochannah commented on #51
This is complete, implemented with meta refresh and js so hopefully one should work even if the other fails for some reason: https://github.com/yochannah/code-is-science/commit/0a9695efba4f8c569d26176a62ab39d92016415e

[2018-06-20 20:58] #51 closed, assigned to nobody

[2018-08-06 05:27] ikayz commented on #40
@yochannah I was working out the icons issue over the weekend, I need a little help from you. The icons you inserted on the codeisscience web site. Did you explicitly specify the link of the icons in the code?

[2018-08-26 20:32] ZediWards commented on #29
@yochannah, I would like to take a crack at this one. This would be my first open source contribution :)

[2018-08-26 21:35] yochannah commented on #29
@ZediWards go ahead & let me know if you need any help of have any questions!

[2018-08-26 21:49] yochannah commented on #40
sorry for the slow reply on this - rushing about and far too busy. If you look at the code for the [contact page](https://raw.githubusercontent.com/yochannah/code-is-science/master/content/contact.md) does it help at all? the `<use>` tags go in the place you want the code to show up, and the symbol definition goes in the symbol-defs.svg file

[2018-09-08 09:45] ikayz commented on #40
Alright will try using that today, been quite tied up over the passed days...

[2018-09-08 12:55] yochannah commented on #40
No rush! :)

On Sat, Sep 8, 2018 at 10:45 AM Isaac Miti <notifications@github.com> wrote:

[2018-09-10 04:44] ZediWards commented on #29
I made a mock up of the index page with a button to the manifesto. At the break point where the sidebar falls to the bottom of the page the manifesto button will stay on the top of the page aligned to the right of the header "Code is Science". Thoughts or feedback?

![button1](https://user-images.githubusercontent.com/33021719/45276763-3d366500-b492-11e8-8afe-11167a2014e2.jpg)

[2018-09-10 18:45] ikayz commented on #40
Awesome

[2018-09-10 21:36] yochannah commented on #29
@ZediWards This is great - I love it! Could we make the words in the button "Read and sign the manifesto!" (hmm, or is that too long? 😁)

Do you need any help to go ahead and implement + make the pull request? :)

[2018-10-09 10:33] ikayz commented on #40
@yochannah  I have added the icons, they are now working. Refer to journal_table.html

[2018-10-28 08:03] jamessandy commented on #44
Hello @yochannah can you please give me an issue to work on

[2018-12-24 11:40] bhavesh-g commented on #40
I will add icons to nav on all pages.

[2018-12-24 11:42] yochannah commented on #40
@bhavesh-g thanks for the offer! I think @ikayz has actually done it, I just need to get around to reviewing the PR - sorry! :)

[2020-04-15 12:12] dipanshunagar opened #57 "Project moved/stalled?"
All the issues and commits seem to be old, is this still active in some form?

[2020-08-29 11:37] yochannah commented on #57
Hey @dipanshunagar! The project was in a definite hiatus, but we'll be picking it up again in the next few days as part of the eLife innovation sprint.  https://sprint.elifesciences.org/projects/

[2020-08-29 11:37] #2 closed, assigned to nobody

[2020-08-29 11:37] #3 closed, assigned to nobody

[2020-08-29 11:37] #7 closed, assigned to nobody

[2020-08-29 11:37] #8 closed, assigned to nobody

[2020-08-29 11:37] #10 closed, assigned to nobody

[2020-08-29 11:37] #14 closed, assigned to nobody

[2020-08-29 11:37] #19 closed, assigned to nobody

[2020-08-29 11:37] #20 closed, assigned to JJ

[2020-08-29 11:37] #21 closed, assigned to nobody

[2020-08-29 11:37] #29 closed, assigned to nobody

[2020-08-29 11:37] #35 closed, assigned to nobody

[2020-08-29 11:37] #40 closed, assigned to nobody

[2020-08-29 11:37] #44 closed, assigned to nobody

[2020-08-31 20:56] ikayz opened #58 "Redesign the UI / UX"
UI / UX needs to be redesigned to suit modern designs...

[2020-08-31 21:17] ikayz opened #59 "Redesign the UI / UX"
The current UI / UX needs to be revamped.

[2020-09-01 08:19] yochannah commented on #57
closing this now in preparation for the sprint

[2020-09-01 08:31] yochannah opened #60 "Define Personas and User Stories - why do _you_ want to find journals that support open source"
When code is written for research and science purposes, it should be open source so that others can benefit from it. We’d like to help researchers find journals that require open source code easily. We would like to begin prototyping a real-life website that allows people to search for journals that have (or don’t have) open source code sharing policies.

**If you care about open source code in sc

[2020-09-01 08:39] yochannah opened #61 "Share journals that do (or don't) have open source policies"
We'll be re-designing a database for this, but in the meantime, if you know of any journals that do or don't have open source code policies and would like to share, please add the details to this google form: https://docs.google.com/forms/d/e/1FAIpQLScckKkSwH1nW22G8u0_GMRKk1KAV7SQGxaRsH6ysLecS9EHFQ/viewform?usp=sf_link

This issue is part of the 2020 eLife Innovation Sprint. For more info about th

[2020-09-01 08:39] yochannah commented on #58
This issue is part of the 2020 eLife Innovation Sprint. For more info about this project and the sprint, or to get help, please see the [Code Is Science eLife Sprint Plan](https://docs.google.com/document/d/1p7nAh_5c1KxhUDXu2bn4SjdWBvqiqTcTCvubG3AKDBA/edit#)

[2020-09-01 08:43] yochannah opened #62 "Define database schema (migrate from google form) - your choice of DB backend."
Currently we have a google form to collect journal-policy related data. We need to make this more robust! See the current fields we collect here:  https://docs.google.com/forms/d/e/1FAIpQLScckKkSwH1nW22G8u0_GMRKk1KAV7SQGxaRsH6ysLecS9EHFQ/viewform?usp=sf_link - we may want to add other fields based on user stories / user interviews.

Paid hosting can be provided, but whatever stack we choose should

[2020-09-01 08:56] yochannah opened #63 "Discussion question: How do we measure if journals comply with their openness policies?"
Many journals say they require open source code but it isn't always checked by reviewers or enforced by editors.

How does one prove whether or not journals tend to check these things? Selections of recent articles that do/don't comply? Other? How does one model this in a database in a quantifiable way?

Please leave a comment on this issue if you have ideas for how to handle this.

This issue is

[2020-09-01 10:08] yochannah opened #64 "Set up all contributors bot on this repo"
See https://allcontributors.org/ - we want to credit all of our contributors, no matter what background of contribution type they have offered. Let's set up an all contributors bot.

If you need additional access rights to this repo just ping someone from the @codeisscience/elife-sprint-leads team to get access.

This issue is part of the 2020 eLife Innovation Sprint. For more info about this proj

[2020-09-01 13:21] #57 closed, assigned to nobody

[2020-09-02 08:31] delwen commented on #63
I wonder if this could be embedded in existing [TOP guidelines](https://osf.io/ud578/) for journals. TOP guidelines delineate eight standards relating to the transparency and reproducibility of research. Journals can adopt a policy of differing stringency levels for each of these standards. The most stringent levels seem to include compliance checks or a verification process. Also see more context

[2020-09-02 15:42] yochannah commented on #60
Update: If you haven't yet answered our persona survey, please visit https://forms.gle/EsZPJwZq6mXRyvrA9 to share your views on the place code has in papers / journals. It only takes 2-3 minutes tops!

@ikayz is working on creating visuals for the personas

[2020-09-02 15:44] yochannah commented on #62
@JPTIZ is working on defining a possible database schema for this. We're aware that some of the metrics aren't clearly defined and/or may change, but making a start with the journal table for the DB seems like it should be possible.

[2020-09-02 15:50] yochannah commented on #63
Update:
- @Abigail-Wood, @delwen, and @edeediong have been looking at ways to access journal text via the eLife API and/or reading papers to look for keywords to identify papers that had computational methods.
- @Abigail-Wood discovered a surprisingly hard question - **when should a paper have code?** Identifying papers that already have code is easy, but finding keywords for papers that use compu

[2020-09-02 17:21] JPTIZ commented on #62
I've made this [sample DB scheme mockup](https://viewer.diagrams.net/?highlight=000000&edit=_blank&layers=1&nav=1&title=MainDB.drawio#R7Vxtc9o4EP41zN196I2xsUM%2BFkJ6L7STQnptPt0otsDqGIvKIkB%2FfVe2ZBuEwQ4huC4ztJFkWZL3ebQrr9ZqWf3Z6h1Dc%2F899XDQMg1v1bJuWqbZ7phmS%2FwMb52UdI12UjBlxJOVsoIx%2BY5loSFLF8TD0UZFTmnAyXyz0KVhiF2%2BUYYYo8vNahMabPY6R1OsFYxdFOiln4nHffkUtpGV%2F4XJ1Fc9tw15ZYZUZVkQ%2Bcijy1yRNWhZfUYpT

[2020-09-02 22:09] rgaiacs opened #67 "Improve deployment"
We need to compile the website for deployment. We can use https://www.netlify.com/ or GitHub Actions.

@yochannah any preference?

[2020-09-02 22:10] JPTIZ commented on #67
I have an experience with GitHub Actions and may help with that case.

[2020-09-02 22:45] rgaiacs opened #69 "'taxonomy' in the disabledKinds list"
[code]

[2020-09-02 22:46] rgaiacs opened #70 "Page.RSSLink is deprecated"
[code]

[2020-09-02 22:46] rgaiacs opened #71 "Page.Hugo is deprecated"
[code]

[2020-09-03 09:16] yochannah commented on #67
Either sounds fine to me

[2020-09-03 09:41] #70 closed, assigned to nobody

[2020-09-03 10:39] yochannah opened #75 "Blog outputs from the sprint!"
I think we have fodder for at least two blog posts, ot maybe even three, in response to what we've done for the sprint.

1. Summary of what happened, the awesome contributors who helped us get there, and next steps.
2. Deeper dives into specific topics, such as:
    - How do we identify code papers? (surprisingly hard!) - see #63 for notes
    - Personas for people who interact with code in scienc

[2020-09-03 11:05] yochannah commented on #75
I think it would be nice to target the "How do we identify code papers?" blog for the SSI blog - https://software.ac.uk/blog

[2020-09-03 11:21] #64 closed, assigned to nobody

[2020-09-03 11:23] #69 closed, assigned to nobody

[2020-09-03 11:38] yochannah opened #76 "Add all sprint contributors using the all-contributors bot"
I'm experimentally trying out the bot that @JPTIZ and @rgaiacs set up - see https://github.com/codeisscience/code-is-science/pull/65#issuecomment-686058960

[2020-09-03 11:40] yochannah commented on #76
@all-contributors please add @JPTIZ for tool, code, infra, maintenance

[2020-09-03 11:41] yochannah commented on #76
@all-contributors please add @rgaiacs for mentoring infra, maintenance, bugs

[2020-09-03 11:44] yochannah commented on #76
@all-contributors please add @ikayz for design, code, content

[2020-09-03 11:46] yochannah commented on #76
@all-contributors please add @Fnyasimi for review, projectManagement, question

[2020-09-03 11:47] yochannah commented on #76
@all-contributors please add @abigail-wood for content, question

[2020-09-03 11:47] yochannah commented on #76
@all-contributors please add @delwen for content, question

[2020-09-03 11:48] yochannah commented on #76
@all-contributors please add @dipanshunagar for content, question, code

[2020-09-03 11:53] JPTIZ commented on #71
Closed by #74.

[2020-09-03 11:53] #71 closed, assigned to nobody

[2020-09-03 13:36] rgaiacs commented on #67
I had a look at GitHub Actions and I didn't like the examples that I found as they requires configuration of tokens. In the past, I configured https://www.netlify.com in 15min or less.

@yochannah what email should I use for https://www.netlify.com free plan?

[2020-09-03 13:37] rgaiacs commented on #59
Duplicate of https://github.com/codeisscience/code-is-science/issues/58 Please close this one.

[2020-09-03 13:51] rgaiacs opened #85 "Reasons aren't accessible"
The website doesn't have links to

- [ ] `/reasons/personal/`
- [ ] `/reasons/legal_institutional/`

@yochannah where do you want to have links to this pages?

[2020-09-03 14:09] JPTIZ commented on #62
Here is [a small DB update](https://viewer.diagrams.net/?highlight=0000ff&edit=_blank&layers=1&nav=1&title=MainDB.drawio#R7V1tc5s4EP41nrv70I4NhiQfa8dpc3U7bZxemk83Cii2ehi5Qn7rr78VSIAR2Dh%2BI9QzaSMJIYSeR7ur1aI0zO548Z6hyegTdbHXMJruomFeNwyj1TaMhvhpusuo5NKUBUNGXFkpKRiQX1gWNmXplLg4WKnIKfU4mawWOtT3scNXyhBjdL5a7Zl6q0%2BdoCHWCgYO8vTSB%2BLykXwLq5mUf8BkOFJPbjXllTFSlWVBMEIunaeKzF7D7DJKeZQaL7rYE4OnxiW676bgatwx

[2020-09-03 14:46] yochannah opened #87 "Why aren't the emoji for the all contributors bot showing correctly?"
For some reason the emoji contribution key under the all contributors section on the site doesn't seem to be working - see the screenshot
![image](https://user-images.githubusercontent.com/9271438/92130333-84932a00-edfc-11ea-9d29-4d8aaf91e25d.png)

[2020-09-03 14:48] yochannah commented on #76
@all-contributors please add @emmyft for ideas

[2020-09-03 14:52] yochannah commented on #76
@all-contributors please add @helenapv for ideas

[2020-09-03 14:54] yochannah commented on #76
@all-contributors please add @StuartRFKing for ideas

[2020-09-03 14:55] yochannah commented on #76
@all-contributors please add @billbrod for ideas, content

[2020-09-03 14:58] JPTIZ commented on #87
I'm also wondering this. And looking at the README.md's allcontributors HTML part it really doesn't include anything related to emojis:

[code]

[2020-09-03 15:00] yochannah commented on #87
maybe we are missing a config of some sort?

[2020-09-03 15:05] ikayz opened #92 "Implement React JS in code base for Frontend"

[2020-09-03 15:14] JPTIZ commented on #87
I'm checking [this repo](https://github.com/Berkmann18/json-fixer/) to see if I find relevant differences, but there appears to be none altought the PRs generated from the bot do insert the emojis (see [this example](https://github.com/Berkmann18/json-fixer/pull/9/files))

[2020-09-03 15:17] ikayz commented on #60
[Code is Science - Persona.pdf](https://github.com/codeisscience/code-is-science/files/5169520/Code.is.Science.-.Persona.pdf)

[2020-09-03 15:27] ikayz commented on #60
[Code is Science - Persona.pdf](https://github.com/codeisscience/code-is-science/files/5169586/Code.is.Science.-.Persona.pdf)

[2020-09-03 15:42] JPTIZ commented on #87
Just making a little comparison here of the .all-contributorsrc's keys (except for ones like project name):

| Key | json-fixer repo                  | Code is science repo                                                                                                                                                                                            |
| --- | ------------------------------

[2020-09-03 15:56] JPTIZ commented on #87
Looking at the table above, it seems that we're overriting the emoji insertion by setting a custom `contributorTemplate` key. There is probably a way to tell to insert the emojis somewhere if we still wanna use a custom template, but in a quick look we could simply remove it as apparently we're not making anything different from the standard (except for emojis).

[2020-09-03 16:32] rgaiacs commented on #67
Live at https://codeisscience.netlify.app/

@yochannah need to configure the custom domain following https://docs.netlify.com/domains-https/custom-domains/ This should be similar to how you did for GitHub Pages.

[2020-09-04 16:17] #59 closed, assigned to nobody

[2020-09-04 17:06] yochannah commented on #85
assuming there is content - totally!

On Thu, Sep 3, 2020 at 2:51 PM Raniere Silva <notifications@github.com>
wrote:

[2020-09-04 19:22] rgaiacs commented on #85
They have content. But they aren't blog posts. Might need to rewrite a bit of the `_index.md` to include links to those pages.

[2020-09-04 19:23] rgaiacs commented on #75
First blog post by @yochannah: http://yo-yehudi.com/science/open-source/community/elife-sprint/2020/09/04/elife-sprint-2020.html

[2020-09-08 17:28] JPTIZ commented on #76
Did we miss someone?

[2020-09-09 15:32] yochannah opened #94 "add slack to readme and main site"
joining link https://join.slack.com/t/codeisscience/shared_invite/zt-h2iz8pk7-K11oxiBKLVTk7YQ0LBu9sQ

[2020-09-26 12:19] #94 closed, assigned to nobody

[2020-10-07 17:21] #87 closed, assigned to nobody

[2020-10-16 13:18] yochannah commented on #76
I think this is complete :)

[2020-10-16 13:18] #76 closed, assigned to yochannah

[2020-10-16 13:19] yochannah commented on #67
this is set up and now deploys via netlify correctly :)

[2020-10-16 13:34] yochannah commented on #92
this has been kicked off at https://github.com/codeisscience/codecompliance-frontend/

[2020-10-16 13:34] #92 closed, assigned to ikayz

[2020-12-10 12:38] malvikasharan opened #97 "Using some of the reasons listed here to draft a blog and invite more reasons"
## Describe the issue in as much detail as possible

I drafted a blog for SSI 10 - year anniversary and used a few reasons listed in your repo.
I will share the repo link with people in the blog and ask them to respond if they have more reasons to add.

## Update:

The post is up under the title "Ten arguments against Open Science that you can win" https://www.software.ac.uk/blog/2020-12-17-ten-ar

[2020-12-21 12:53] nuest commented on #97
https://twitter.com/nordholmen/status/1341003203459112969

Thanks @malvikasharan for a very helpful and thought-provoking article. I've added a few throughts to the Twitter thread above. Whatever I say is certainly from an extremely privileged position, but I'm eager to learn and become more aware.

[2021-01-20 13:35] caha42 commented on #97
Hi @malvikasharan, thanks for the nice post. I have one hint to the argument "My work is not good enough to share" I would like to mention. I have heard this argument a lot and what worked best is to tell them to state the intention of the code in the readme. Example "This code was developed as a proof of conept of paper XYZ" - this way everybody knows what to expect and people feel much more secu

[2021-06-01 08:42] nuest commented on #61
We started compiling a list of journals/conferences that execute code during review, see https://doi.org/10.17605/OSF.IO/X32NC

These might be good candidates to also have open source policies.

[2022-04-03 16:15] erik-whiting opened #98 "Journal Table page showing bad data"
_Note_ I originally posted this issue on the wrong repo, original issue [here](https://github.com/codeisscience/journal-policy-tracker-frontend/issues/62).

**Describe the bug**
The page on https://codeisscience.com/journal_table/ seems to have a bug. Maybe it's just me or maybe there isn't any data in the database yet, but the page itself looks like it's returning bad data.

Sorry if this has bee

[2022-10-26 19:46] dmarx opened #99 "page is down with DNS error"
## Describe the issue in as much detail as possible
visiting http://www.codeisscience.com/ gives ERR_NAME_NOT_RESOLVED response

## What page(s) does it occur on?
http://www.codeisscience.com/